name: Update Hub DB from GH Registry (Testing)

on:
  pull_request:
    branches:
      - main
      - kc/test-workflow
    types: [opened, synchronize, reopened]
    paths:
      - registry/**


jobs:
  update_registry_db:
    runs-on: ubuntu-latest
    environment: staging

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch_depth: 1

      - name: Check for PR approvals
        id: check-approval
        uses: actions/github-script@v7
        with:
          script: |
            const { owner, repo } = context.issue;
            const pull_number = context.payload.pull_request.number;
            console.log("Owner and repo and pull_number", owner, repo, pull_number);
            const { data: reviews } = await github.rest.pulls.listReviews({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: context.payload.pull_request.number,
            });
            const approved = reviews.some(review => review.state === 'APPROVED');
            return approved;

      - name: Cancel if not approved
        if: steps.check-approval.outputs.approved == 'false'
        run: |
          echo "************ check-approval {{ steps.check-approval.outputs.approved }}"
          echo "The PR has not been approved. Cancelling the workflow."
          exit 1  # This will exit the workflow early

      - name: Get all connector version package changes
        id: connector-version-changed-files
        uses: tj-actions/changed-files@v44
        with:
          json: true
          escape_json: false
          files: |
            registry/**

      - name: Print out all the changed filse
        env:
          ADDED_FILES: ${{ steps.connector-version-changed-files.outputs.added_files }}
          MODIFIED_FILES: ${{ steps.connector-version-changed-files.outputs.modified_files }}
          DELETED_FILES: ${{ steps.connector-version-changed-files.outputs.deleted_files }}
        run: |
          echo "{\"added_files\": $ADDED_FILES, \"modified_files\": $MODIFIED_FILES, \"deleted_files\": $DELETED_FILES}" > changed_files.json

      - name: List changed files
        id: list_files
        run: |
          cat changed_files.json

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.21.x

      - name: Run registry automation program
        env:
          CHANGED_FILES_PATH: "changed_files.json"
          PUBLICATION_ENV: "staging"
          CONNECTOR_REGISTRY_GQL_URL: ${{ secrets.CONNECTOR_REGISTRY_GQL_URL }}
          GCP_BUCKET_NAME: ${{ secrets.GCP_BUCKET_NAME }}
          GCP_SERVICE_ACCOUNT_DETAILS: ${{ secrets.GCP_SERVICE_ACCOUNT_DETAILS }}
          CONNECTOR_PUBLICATION_KEY: ${{ secrets.CONNECTOR_PUBLICATION_KEY }}
          CLOUDINARY_URL: ${{ secrets.CLOUDINARY_URL }}
        run: |
          mv changed_files.json registry-automation/changed_files.json
          cd registry-automation
          go run main.go ci
